/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

/* Apply fade-in animation to canvas */
canvas {
  display: block;
  width: 100%;
  height: 100%;
  animation: fadeIn 2s ease-out forwards;
  opacity: 0; /* Start hidden */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
